<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -Yo cuido lo público Administrador</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

</head>
<body>
    <header>
        <div class="header_admin">
            <div class="contenido_header_admin">
                <div>
                    <div class="logo_elefantes">
                        <h1>Yo cuido lo público
                        </h1>
                        <h4>Módulo Administrativo</h4>
                    </div>

                </div>
                <div class="barra_informativa">
                    <a href="~/Home/Index">
                        <div id="inicio">
                            <img src="~/images/estilos_eb/icono_casita.png" width="18" height="18" />Inicio
                        </div>
                    </a>
                    <div id="usuario">
                        <img src="~/images/estilos_eb/icono_usuario.png" width="18" height="18" />Usuario: 
                        <section id="login">@Html.Partial("_LoginPartial")</section>
                    </div>
                    <a href="~/Account/Login">
                        <div id="cerrar_sesion">
                            Cerrar Sesión
                            <img src="~/images/estilos_eb/icono_cerrar_sesion.png" width="18" height="18" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="footer_admin">
            <div class="contenido_footer_admin">
                <div class="numeracion_paginacion"></div>
                <div class="logotipos_corporativos">
                    <img src="~/images/estilos_eb/logo_gobierno.png" width="178" height="46" class="logos" /><img src="~/images/estilos_eb/logo_secretaria.png" width="218" height="46" class="logos" /><img src="~/images/estilos_eb/logo_prosperidad.png" width="189" height="46" class="logos" /><img src="~/images/estilos_eb/logo_vive_digital.png" width="221" height="46" class="logos" />
                </div>
            </div>
        </div>
    </footer>

    @* @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
