@model IEnumerable<ElefantesBlancosDatos.Models.stra_imagenes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_stra_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_stra_imagen_asociada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_razones_rechazo.razon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razon_rechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_elefantes2.titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_stra_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_stra_imagen_asociada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_razones_rechazo.razon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razon_rechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_elefantes2.titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
