@model  PagedList.IPagedList<ElefantesBlancosDatos.Models.AuditoriaModels>

@using PagedList.Mvc;
<script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<div id="personList">


    @if ((Model != null) && (Model.ToList().Count > 0))
    {
        <div class="contenedor1">
            <div class="titulo_contenedor">
                Resultados de búsqueda        
          <div id="boton6">
              @Html.ActionLink("Exportar", "Download", "Auditoria")
          </div>
            </div>


        </div>
        <div class="contenido">
            <table border="1" width="100%" cellpadding="8" cellspacing="0">

                <tr>
                        <th { text-align: center;  vertical-align: middle; width="10%"}>Código</th>
                        <th { text-align: center;  vertical-align: middle; width="10%"}>Título</th>
                        <th { text-align: center;  vertical-align: middle; width="10%"}>Gestor</th>
                        <th { text-align: center;  vertical-align: middle; width="15%"}>Fecha Modificación</th>
                        <th { text-align: center;  vertical-align: middle; width="10%"}>Tipo</th>
                        <th { text-align: center;  vertical-align: middle; width="15%"}>Acción</th>
                        <th { text-align: center;  vertical-align: middle; width="30%"}>Cambios Realizados</th>

                </tr>

                @foreach (ElefantesBlancosDatos.Models.AuditoriaModels item in Model)
                { 
                    <tr>
                            <td { text-align: center;  vertical-align: middle;}>@item.id_stra_elefante</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.titulo</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.usuario</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.fecha_creacion.ToString("dd/MM/yyyy")</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.tipo</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.accion</td>
                            <td { text-align: center;  vertical-align: middle;}>@item.datos</td>
                    </tr>
                }


            </table>
        </div>
        <div class="pagedList" data-app-target="#personList">
            @Html.PagedListPager(Model, page => Url.Action("Busqueda", new { page = page, AccionSelector = ViewBag.accionId, UsuarioSelector = ViewBag.usuarioID, titulo = ViewBag.buscartitulo, inicio = ViewBag.fechainicio, final = ViewBag.fechafinal }), new PagedListRenderOptions { LinkToFirstPageFormat = "<<", LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", LinkToLastPageFormat = ">>", MaximumPageNumbersToDisplay = 7 })
        </div>
     
    }
    else
    {
        if (ViewBag.Buscar == "1")
        {
        <p style="color: red">No hay registros.</p>
        }
    }

</div>

