@model ElefantesBlancosDatos.Models.stra_usuarios

@{
    ViewBag.Title = "Ingreso";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}


<script type="text/javascript">

    window.history.forward()
    function DisableBackButton() {

        window.history.forward()

    }


</script>
<div id="agregar_parametro">
    <div class="titulo_elefantes">
        <h1>Yo Cuido lo Público</h1>
    </div>
    <h2>&nbsp;</h2>
    <h2>&nbsp;</h2>
    <h2>Acceso Autorizado</h2>
    <hr />
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>stra_usuarios</legend>
            <div class="contenido_acceso">
                <h4>*Usuario</h4>
                <p>
                    @Html.TextBoxFor(m => m.usuario, new { style = "width:320px", @class = "campo_texto", @maxlength = "100", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.usuario)
                </p>
                <h4>*Contraseña</h4>
                <p>
                    @Html.PasswordFor(m => m.contrasena, new { style = "width:320px", @class = "campo_texto" })
                    <br />
                    @Html.ValidationMessageFor(m => m.contrasena)
                </p>
            </div>

            <input type="submit" value="Ingresar" />
            <br />
            <div>@Html.ActionLink("Recuperar Contraseña", "RecuperacionContrasena", "Usuario")</div>


        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
