@model ElefantesBlancosDatos.Models.stra_elefantes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>stra_elefantes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_stra_elefante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_stra_elefante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entidad_responsable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entidad_responsable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_entidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_entidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_motivos_elefante.motivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_motivos_elefante.motivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_id_motivo_elefante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_id_motivo_elefante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_rango_tiempo.id_stra_rango_tiempo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_rango_tiempo.id_stra_rango_tiempo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_id_rango_tiempo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_id_rango_tiempo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_costo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_costo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contratista)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contratista)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_contratista)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_contratista)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_imagenes.razon_rechazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_imagenes.razon_rechazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_imagenes1.razon_rechazo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_imagenes1.razon_rechazo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_creacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_creacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_municipios.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_municipios.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_estados_elefante.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_estados_elefante.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_departamentos.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_departamentos.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stra_regiones.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stra_regiones.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.no_es_un_elefante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.no_es_un_elefante)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
