@model ElefantesBlancosDatos.Models.stra_elefantes

@{
    ViewBag.Title = "Detalle Elefante Blanco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(function () {
        $("#id_stra_motivo_elefante").prop('disabled', 'disabled');
        $("#id_stra_razon_rechazo").prop('disabled', 'disabled');
        $("#id_stra_rango_tiempo").prop('disabled', 'disabled');
    });
</script>
<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">
            <div class="contenedor2">
                <div class="titulo_contenedor">Detalle Reporte Rechazado</div>

                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(false)
                    <div class="contenido">
                       <fieldset>
                            <legend>stra_elefantes</legend>
                        <div id="estado_detalle">
                            <h5>Estado</h5>@ViewBag.Estado
                        </div>
                        <div id="encabezado_detalle1">
                            <h5>Ubicación</h5>@ViewBag.Ubicacion
                        </div>
                        <div id="encabezado_detalle2">
                            <h5>Fecha de creación</h5>@ViewBag.Fecha.ToString("dd/MM/yyyy")
                        </div>
                        <div id="encabezado_detalle3">
                            <h5>Código</h5>@ViewBag.Id
                        </div>

                        
                            @Html.HiddenFor(model => model.id_stra_elefante)
                            <div class="columna1">
                                <div class="info1_elefante">
                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>*Título del Reporte</h5>
                                            @Html.TextAreaFor(model => model.titulo, new {TextBoxMode = "MultiLine", Columns = "55px", Rows = "3px",  style = "width: 250px", disabled = "disabled", @readonly = "readonly" })
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_titulo, 1, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_titulo, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>*Entidad Responsable</h5>
                                            @Html.TextAreaFor(model => model.entidad_responsable, new {TextBoxMode = "MultiLine", Columns = "55px", Rows = "3px",  style = "width: 250px", disabled = "disabled", @readonly = "readonly" })
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_entidad, 1, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_entidad, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>*Porque es un Reporte</h5>
                                            @Html.DropDownList("id_stra_motivo_elefante", null, new {style="width: 250px;"})
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_id_motivo_elefante, 1, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_id_motivo_elefante, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contenido_info">
                                        <h5>&nbsp;</h5>
                                        <h5>Información Adicional</h5>
                                    </div>
                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>Tiempo</h5>
                                            @Html.DropDownList("id_stra_rango_tiempo", String.Empty)
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                               <div id="aprobar_o_reprobar_radio">
                                                   @Html.RadioButtonFor(m => m.estado_id_rango_tiempo, 1, new { disabled = "disabled", @readonly = "readonly" })
                                               </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_id_rango_tiempo, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>Costo</h5>
                                            @Html.TextBoxFor(model => model.costo, new { disabled = "disabled", @readonly = "readonly" })
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                               <div id="aprobar_o_reprobar_radio">
                                                   @Html.RadioButtonFor(m => m.estado_costo, 1, new { disabled = "disabled", @readonly = "readonly" })
                                               </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_costo, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contenido_info">
                                        <div id="contenido_info1_elefante">
                                            <h5>Contratista</h5>
                                            @Html.TextAreaFor(model => model.contratista, new {TextBoxMode = "MultiLine", Columns = "55px", Rows = "3px",  style = "width: 250px", disabled = "disabled", @readonly = "readonly" })
                                        </div>
                                        <div id="aprobar_o_reprobar">
                                            Validar / Rechazar
                                               <div id="aprobar_o_reprobar_radio">
                                                   @Html.RadioButtonFor(m => m.estado_contratista, 1, new { disabled = "disabled", @readonly = "readonly" })
                                               </div>
                                            <div id="aprobar_o_reprobar_radio">
                                                @Html.RadioButtonFor(m => m.estado_contratista, 2, new { disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columna2">
                                <div class="foto_elefante_reporte1">
                                    <img src="@Url.Content(ViewBag.ruta)" height="300" width="450" />
                                </div>

                                <div class="no_aprobado">
                                    <div id="contenido_info3_elefante">
                                        <h5>Rechazo</h5>
                                        @Html.DropDownList("id_stra_razon_rechazo", "Razón de Rechazo")
                                    </div>
                                    <div id="contenido_info3_elefante">
                                        <h5>Otra razón de rechazo</h5>
                                        @Html.TextAreaFor(model => model.comentario_rechazo, new {TextBoxMode = "MultiLine", Columns = "55px", Rows = "3px",  style = "width: 350px", disabled = "disabled", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>

                            <div id="botones_aprobacion_no_aprobacion">

                                <div id="boton3">@Html.ActionLink("Aceptar", "Index", "Home")</div>
                            </div>


                        </fieldset>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
