@model IEnumerable<ElefantesBlancosDatos.Models.stra_elefantes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_stra_elefante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entidad_responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_entidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_motivos_elefante.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_id_motivo_elefante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_rango_tiempo.id_stra_rango_tiempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_id_rango_tiempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contratista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_contratista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_imagenes.razon_rechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_imagenes1.razon_rechazo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_municipios.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_estados_elefante.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_departamentos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stra_regiones.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_es_un_elefante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_stra_elefante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entidad_responsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_entidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_motivos_elefante.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_id_motivo_elefante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_rango_tiempo.id_stra_rango_tiempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_id_rango_tiempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contratista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_contratista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_imagenes.razon_rechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_imagenes1.razon_rechazo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_municipios.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_estados_elefante.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_departamentos.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stra_regiones.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_es_un_elefante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
