@{
    Layout = null;
}
<div class="contenedor2">
    <div class="titulo_contenedor">Criterios de Búsqueda</div>
    <div class="contenido">

        <div id="criterio_mapa">Región: <strong>@ViewBag.nombreregion</strong></div>
        <div id="criterio_mapa">Depto.: <strong>@ViewBag.nombredepartamento</strong></div>
        <div id="criterio_mapa">Mun.: <strong>@ViewBag.nombremunicipio</strong></div>
        <div id="criterio_mapa">
            <div id="aprobado5">
                <div id="valor_pendiente">@ViewBag.yanoesunelefante</div>
                Reportes
            </div>
        </div>
        <div id="aprobado1">
            <div id="valor_pendiente">@ViewBag.elefantependientes</div>
            Reportes
        </div>
        <div id="aprobado2">
            <div id="valor_pendiente">@ViewBag.imagenespendientes</div>
            Fotos de Reportes
        </div>
        <div id="aprobado3">
            <div id="valor_pendiente">@ViewBag.informacionpendiente</div>
            Nueva Información
        </div>
        <div id="aprobado4">
            <div id="valor_pendiente">@ViewBag.elefantevalidados</div>
            Reportes
        </div>
    </div>
</div>
