@model ElefantesBlancosDatos.Models.MapaModels
@{
    ViewBag.Title = "MapaPorEstado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">
            <div class="contenedor4">
                <div class="titulo_contenedor3">Pendientes</div>
                <div class="contenido3">
                    <div id="aprobado1">
                        <div id="valor_pendiente">@Html.ActionLink(Model.Pendiete, "MapaPorEstado", new{Id=2},  new { @class = "editDialog1" })</div>
                      
                    </div>
                </div>
            </div>
            <div class="contenedor3">
                <div class="titulo_contenedor2">Validados Pendientes de Fotos e Información</div>
                <div class="contenido2">
                    <div id="aprobado2">
                        <div id="valor_pendiente">@Html.ActionLink(Model.Imagenes, "MapaPorEstado", new{Id=3},  new { @class = "editDialog1" })</div>
                      
                    </div>
                    <div id="aprobado3">
                        <div id="valor_pendiente">@Html.ActionLink(Model.NuevaInformacion, "MapaPorEstado", new{Id=4},  new { @class = "editDialog1" })</div>
                    </div>
                </div>
            </div>
            <div class="contenedor4">
                <div class="titulo_contenedor3">Validados</div>
                <div class="contenido3">
                    <div id="aprobado4">
                    
                        <div id="valor_pendiente"> @Html.ActionLink(Model.Validados, "MapaPorEstado", new{Id=1},  new { @class = "editDialog1" })</div>
                    
                    </div>
                </div>
            </div>
            <div id="container">
                @if (ViewBag.tipomapa == "1")
                { 
                    @Html.Partial("MapaValidados", Model)
                }
                else if (ViewBag.tipomapa == "2")
                {
                    @Html.Partial("MapaPendiente", Model)
                }
                else if (ViewBag.tipomapa == "3")
                {
                    @Html.Partial("MapaImagenes")
                }
                 else if (ViewBag.tipomapa == "4")
                {
                    @Html.Partial("MapaInformacion")
                }
            </div>
        </div>
    </div>
</div>
