@model ElefantesBlancosDatos.Models.MapaModels

<script type="text/javascript">
    //Crear
    $.ajaxSetup({ cache: false });
         

    //Editar
    $(".editDialog").live("click", function (e) {
        $.getJSON('@Url.Action("ValidarSession")', {}, function (data) {
            if (data == '0') {
                window.location.href = '/Account/Login'
            }

        });
        var url = $(this).attr('href');
        $("#dialog-edit").dialog({
            title: 'Departamento / Municipio',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 548,
            top: 20,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });
        $("#dialog-edit").dialog('open');
        return false;
    });
</script>
<div class="contenedor1">
    <div class="titulo_contenedor">Reportes en Colombia</div>
    <div class="mapa_colombia">
        @if (Model.Insular != "0")
        {
            <div id="insular_fotos">
                <div id="fotos_insular">@Html.ActionLink(Model.Insular, "ConsultaDepartamento", new { Id = 6 }, new { @class = "editDialog" })</div>
            </div>
        }
        @if (Model.Atlantica != "0")
        {
            <div id="caribe_fotos">
                <div id="fotos_caribe">@Html.ActionLink(Model.Atlantica, "ConsultaDepartamento", new { Id = 1 }, new { @class = "editDialog" })</div>
            </div>
        }
        @if (Model.Andina != "0")
        {
            <div id="andina_fotos">
                <div id="fotos_andina">@Html.ActionLink(Model.Andina, "ConsultaDepartamento", new { Id = 2 }, new { @class = "editDialog" })</div>
            </div>
        }
        @if (Model.Pacifica != "0")
        {
            <div id="pacifica_fotos">
                <div id="fotos_pacifica">@Html.ActionLink(Model.Pacifica, "ConsultaDepartamento", new { Id = 3 }, new { @class = "editDialog" })</div>
            </div>
        }
        @if (Model.Orinoquia != "0")
        {
            <div id="orinoquia_fotos">
                <div id="fotos_orinoquia">@Html.ActionLink(Model.Orinoquia, "ConsultaDepartamento", new { Id = 4 }, new { @class = "editDialog" })</div>
            </div>
        }
        @if (Model.Amazonia != "0")
        {
        <div id="amazonia_fotos">
            <div id="fotos_amazonia">>@Html.ActionLink(Model.Amazonia, "ConsultaDepartamento", new { Id = 5 }, new { @class = "editDialog" })</div>
        </div>
        }
    </div>
       <div id="dialog-edit" style="display: none"></div>
    
</div>
