@model ElefantesBlancosDatos.Models.stra_usuarios

@{
    ViewBag.Title = "Administrar Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        if ('@ViewBag.Validar' == "1") {
            Validacion();
        }

    });

</script>

<script>
    function Validacion() {
        $("#dialogo-aprobacion").dialog({
            resizable: false,
            height: 240,
            modal: true,
            buttons: {
                "Aceptar": function () {
                    $(this).dialog("close");

                    return true;
                }

            }
        });
        return false;
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="body_admin">
        <div class="contenido_body_admin">
            <div class="contenedor_general">
                <div class="contenedor1">
                    <div class="titulo_contenedor">Administrar Usuarios</div>
                    <div class="contenido">
                        <h2>Gestores</h2>
                        <p>Esta página permite que el Administrador registre nuevos gestores para el modulo administrativo de la aplicación Yo cuido lo público. Los campos con <strong>* </strong>son de carácter obligatorio</p>
                        <hr />
                        <h3>Crear un nuevo Gestor</h3>

                        <fieldset>
                            <legend>stra_usuarios</legend>
                            @Html.HiddenFor(model => model.usuario)
                            @Html.HiddenFor(model => model.entidad)
                            @Html.HiddenFor(model => model.contrasena)
                            <table width="100%" border="0" cellpadding="0" cellspacing="15">
                                <tr>
                                    <td>
                                        <h4><strong></strong>@Html.LabelFor(model => model.nombres)</h4>
                                    </td>
                                    <td>
                                        <h4>@Html.LabelFor(model => model.segundo_nombre) </h4>
                                    </td>
                                    <td>
                                        <h4><strong></strong>@Html.LabelFor(model => model.apellidos) </h4>
                                    </td>
                                    <td>
                                        <h4>@Html.LabelFor(model => model.segundo_apellido)</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.nombres, new { @class = "campo_texto",  @maxlength = "40" })

                                        </div>


                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.segundo_nombre, new { @class = "campo_texto",  @maxlength = "40" })
                                            @Html.ValidationMessageFor(model => model.segundo_nombre)
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.apellidos, new { @class = "campo_texto",  @maxlength = "40" })

                                        </div>

                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.segundo_apellido, new { @class = "campo_texto",  @maxlength = "40" })
                                            @Html.ValidationMessageFor(model => model.segundo_apellido)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4><strong></strong>@Html.LabelFor(model => model.cargo)</h4>
                                    </td>
                                    <td colspan="3">
                                        <h4><strong></strong>@Html.LabelFor(model => model.correo_electronico) </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.cargo, new { @class = "campo_texto",  @maxlength = "40" })

                                        </div>

                                    </td>
                                    <td colspan="3">
                                        <div class="editor-field">
                                            @Html.EditorFor(model => model.correo_electronico)

                                        </div>

                                    </td>
                                </tr>


                            </table>

                            <input type="submit" value="Guardar" />
                          
                            <div>
                                <br />
                                @Html.ValidationMessageFor(model => model.nombres)
                                <br />
                                @Html.ValidationMessageFor(model => model.apellidos)
                                <br />
                                @Html.ValidationMessageFor(model => model.correo_electronico)
                                <br />
                                @Html.ValidationMessageFor(model => model.cargo)
                                </div>
                    
                            @Html.ActionLink("Regresar", "Index")
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
}


<div id="dialogo-aprobacion" title="Mensaje de Validación" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Ya existe un usuario con la dirección correo electrónico suministrada. </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
