@model ElefantesBlancosDatos.Models.stra_razones_rechazo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Razon de rechazo</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>stra_razones_rechazo</legend>

    @*    <div class="editor-label">
            @Html.LabelFor(model => model.id_stra_razon_rechazo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_stra_razon_rechazo)
            @Html.ValidationMessageFor(model => model.id_stra_razon_rechazo)
        </div>*@

        <div class="editor-label">
         @*   @Html.LabelFor(model => model.razon)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.razon)
            @Html.ValidationMessageFor(model => model.razon)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
