@model ElefantesBlancosDatos.Models.stra_razones_rechazo
@{
    Layout = null;
    
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)   
    <fieldset>
        <legend>stra_motivos_elefante</legend>
        <div id="agregar_parametro">
            <h2>
                <img src="../images/estilos_eb/icono_nuevo_parametro.png" width="80" height="80" /></h2>
            <h2>&nbsp;</h2>
            <h2>Editar Parámetro </h2>
            <p>*Digite a continuación  el parámetro a modificar</p>
            <hr />
            <table width="100%" border="0" cellpadding="0" cellspacing="15">
                <tr>
                    <td>

                        <div class="editor-field" hidden="hidden">
                            @Html.TextBoxFor(model => model.id_stra_razon_rechazo)
                            @Html.ValidationMessageFor(model => model.id_stra_razon_rechazo)
                        </div>


                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.razon, new { @class = "campo_texto",  @maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.razon)
                        </div>
                    </td>
                </tr>
            </table>
            <td align="center" valign="middle">&nbsp;</td>
            <p>
                <div align="center">
                    <input type="submit" value="Guardar" id="btnCreate" />
                </div>
            </p>
        </div>
        <p>&nbsp;</p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}