@model  PagedList.IPagedList<ElefantesBlancosDatos.Models.ElefanteModels>


@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Reportes Administrador";
}

<script>
    $(document).ready(function () {
       
        if ('@ViewBag.EstadoSelector' == '2') {
            $('#ValidadoSelector').show();
        }
        else {
            $('#ValidadoSelector').hide();
        }
    });


</script>
<script type="text/javascript">
    //Departamento
    $('#DepartamentoSelector').click();
    $(document).ready(function () {
        var selectedDep = $('#DepartamentoSelector').val();
        if (selectedDep != null && selectedDep != '') {
            $.getJSON('@Url.Action("GetMunicipio")', { departamento: selectedDep }, function (data) {
                var items = '';
                $.each(data, function (i, municipio) {
                    items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";

                });
                $('#MunicipioSelector').empty();
                $('#MunicipioSelector').html(items);
                $('#MunicipioSelector').click();
                $('#MunicipioSelector').val('@ViewBag.MunicipioSelector');

            });

        }
        $('#DepartamentoSelector').change(function () {
            var selectedDep = $(this).val();
            //Cargo nuevamente los departamentos si selecciona el departamento 0
            if (selectedDep == '0') {
                $.getJSON('@Url.Action("GetDepartamentoTodos")', { departamento: selectedDep }, function (data) {
                    var items = '';
                    $.each(data, function (i, departamento) {
                        items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";

                    });

                    $('#DepartamentoSelector').empty();
                    $('#DepartamentoSelector').html(items);
                    $('#DepartamentoSelector').click();
                    $('#DepartamentoSelector').val(selectedDep);
                    $('#MunicipioSelector').val('@ViewBag.MunicipioSelector');

                });
            }

            if (selectedDep != null && selectedDep != '') {
                $.getJSON('@Url.Action("GetMunicipio")', { departamento: selectedDep }, function (data) {
                    var items = '';
                    $.each(data, function (i, municipio) {
                        items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";

                    });

                    $('#MunicipioSelector').empty();
                    $('#MunicipioSelector').html(items);
                    $('#MunicipioSelector').click();
                    $('#MunicipioSelector').val('@ViewBag.MunicipioSelector');
                });


                $.getJSON('@Url.Action("GetRegion")', { departamento: selectedDep }, function (data) {
                    var items = '';
                    $('#RegionSelector').val(data);
                    $('#MunicipioSelector').val('0');
                    $('#DepartamentoSelector').val(selectedDep);
                });


            }
        });

    });

    //Regiones
    $('#RegionSelector').click();
    $(document).ready(function () {
        var selectedRegion = $('#RegionSelector').val();
        if (selectedRegion != null && selectedRegion != '') {
            $.getJSON('@Url.Action("GetDepartamentoPorRegion")', { region: selectedRegion }, function (data) {
                var items = '';
                $.each(data, function (i, departamento) {
                    if (departamento.value == '@ViewBag.DepartamentoSelector') {
                        items += "<option selected=\"selected\" value='" + departamento.value + "'>" + departamento.text + "</option>";
                    }
                    else {
                        items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";
                    }

                });
                $('#DepartamentoSelector').empty();
                $('#DepartamentoSelector').html(items);
                $('#DepartamentoSelector').click();
                $('#DepartamentoSelector').val('@ViewBag.DepartamentoSelector');
                $('#MunicipioSelector').val('@ViewBag.MunicipioSelector');
            });


        }
        $('#RegionSelector').change(function () {
            var selectedRegion = $(this).val();
            if (selectedRegion != null && selectedRegion != '') {
                $.getJSON('@Url.Action("GetDepartamentoPorRegion")', { region: selectedRegion }, function (data) {
                    var items = '';
                    $.each(data, function (i, departamento) {
                        items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";
                    });
                    $('#DepartamentoSelector').empty();
                    $('#DepartamentoSelector').html(items);
                    $('#DepartamentoSelector').click();
                    $('#DepartamentoSelector').val('@ViewBag.DepartamentoSelector');
                });


                $.getJSON('@Url.Action("GetMunicipioPorRegion")', { region: selectedRegion }, function (data) {
                    var items = '';
                    $.each(data, function (i, municipio) {
                        items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                    });
                    $('#MunicipioSelector').empty();
                    $('#MunicipioSelector').html(items);
                    $('#MunicipioSelector').click();
                    $('#MunicipioSelector').val('@ViewBag.MunicipioSelector');
                });
            }
        });

    });


    //Municipio
    $('#MunicipioSelector').click();
    $(document).ready(function () {
        var selectedMun = $('#MunicipioSelector').val();

        $('#MunicipioSelector').change(function () {
            var selectedMun = $(this).val();
            if (selectedMun != null && selectedMun != '') {
                $.getJSON('@Url.Action("GetRegionPorMunicipio")', { municipio: selectedMun }, function (data) {
                    $('#RegionSelector').val(data);

                });
   

                $.getJSON('@Url.Action("GetMunicipioPorMunicipio")', { municipio: selectedMun }, function (data) {
                    var items = '';
                    $.each(data, function (i, municipio) {
                        items += "<option value='" + municipio.value + "'>" + municipio.text + "</option>";
                    });
                    $('#MunicipioSelector').empty();
                    $('#MunicipioSelector').html(items);
                    $('#MunicipioSelector').click();
                    $('#MunicipioSelector').val(selectedMun);
                });

                if (selectedMun == '0') {
                    $.getJSON('@Url.Action("GetDepartamentoTodos")', { departamento: '0' }, function (data) {
                        var items = '';
                        $.each(data, function (i, departamento) {
                            items += "<option value='" + departamento.value + "'>" + departamento.text + "</option>";

                        });

                        $('#DepartamentoSelector').empty();
                        $('#DepartamentoSelector').html(items);
                        $('#DepartamentoSelector').click();
                        $('#DepartamentoSelector').val('0');
                    });
                }
                else {
                    $.getJSON('@Url.Action("GetDepartamentoPorMunicipio")', { municipio: selectedMun }, function (data) {
                        $('#DepartamentoSelector').val(data);

                    });
                }
            }


        });

    });


</script>

<script type="text/javascript">
    $(function () {
        $('#EstadoSelector').change(function () {
            var varValidado = $(this).val();
            if (varValidado == '2') {
                $('#ValidadoSelector').show();
            }
            else {
                $('#ValidadoSelector').hide();
            }
        });
    });



</script>

<script>

    function validarsession() {
      
        $.getJSON('@Url.Action("ValidarSession")', {  }, function (data) {
            if (data == '0') {
                window.location.href = '/Account/Login'
            }
            else {
                ValidandoInfo()
            }

        });
      
    }
    function ValidandoInfo() {
        $.ajax({
            url: '@Url.Action("Busqueda")',
                type: 'GET',
                cache: false,
                data: {
                    sortOrder: $('#sortOrder').val(), EstadoSelector: $('#EstadoSelector').val(), MunicipioSelector: $('#MunicipioSelector').val(),
                    DepartamentoSelector: $('#DepartamentoSelector').val(), RegionSelector: $('#RegionSelector').val(), ValidadoSelector: $('#ValidadoSelector').val()
                }
            }).done(function (result) {
                $('#container').html(result);
            });
        }


        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,

            }).done(function (result) {
                $('#container').html(result);
            });
        });

        //Paginacion
        $(function () {
            $('#myPager').on('click', 'a', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,

                }).done(function (result) {
                    $('#container').html(result);
                });
            });
        });
</script>

<p>
</p>
<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">
            <form method="get" action="@Url.Action("Index")" data-app-ajax="true" data-app-target="#personList">
                <div class="contenedor4">
                    <div class="titulo_contenedor3">Pendientes</div>
                    <div class="contenido3">
                        <div id="aprobado1">
                            <div id="valor_pendiente">@ViewBag.ElefantesPendiente</div>
                            Reportes
                        </div>
                    </div>
                </div>
                <div class="contenedor3">
                    <div class="titulo_contenedor2">Validados Pendientes de Fotos e Información</div>
                    <div class="contenido2">
                        <div id="aprobado2">
                            <div id="valor_pendiente">@ViewBag.FotosElefantes</div>
                            Reportes 
                        </div>
                        <div id="aprobado3">
                            <div id="valor_pendiente">@ViewBag.NuevaInformacion</div>
                            Nueva Información
                        </div>
                    </div>
                </div>
                <div class="contenedor4">
                    <div class="titulo_contenedor3">Validados</div>
                    <div class="contenido3">
                        <div id="aprobado4">
                            <div id="valor_pendiente">@ViewBag.ElefantesAprobados</div>
                            Reportes
                        </div>
                    </div>
                </div>

                <div class="contenedor2">
                    <div class="titulo_contenedor">Criterios de Búsqueda</div>
                    <div class="contenido">
                        <div id="criterio1">
                            <div class="styled-select">
                                @Html.DropDownList("RegionSelector", (SelectList)ViewBag.regiones)
                            </div>
                        </div>
                        <div id="criterio2">
                            <div class="styled-select">
                                @Html.DropDownList("DepartamentoSelector", (SelectList)ViewBag.departamentos, "Departamento")
                            </div>
                        </div>
                        <div id="criterio3">
                            <div class="styled-select">
                                @Html.DropDownList("MunicipioSelector", (SelectList)ViewBag.municipios, "Municipio")
                            </div>
                        </div>
                        <div id="criterio4">
                            <div class="styled-select">
                                @Html.DropDownList("EstadoSelector", (SelectList)ViewBag.estados, "Estado")
                            </div>
                        </div>
                        <div id="criterio4">
                            <div class="styled-select">
                                @Html.DropDownList("ValidadoSelector", (SelectList)ViewBag.validados)
                            </div>
                        </div>
                        <div id="criterio5">
                            <input type="submit" value="Buscar" id="boton5" onclick="validarsession(); return false" />
                        </div>

                    </div>
                </div>
            </form>

            <div class="contenedor1">
                <div class="titulo_contenedor">
                    Resultados de búsqueda                
                   @* @using (Html.BeginForm("Download", "Home"))
                    {                        
                      <input type="submit" value="Exportar" id="boton6"/>
                    
                    }*@
                    <div id="boton6">
                        @Html.ActionLink("Exportar", "Download", "Home")
                    </div>
                </div>
                <div id="container">

                    @Html.Partial("DetalleElefantes", Model)

                </div>
            </div>
        </div>
    </div>
</div>




