@model ElefantesBlancosDatos.Models.stra_estados_elefante

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Estado</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>stra_estados_elefante</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_stra_estado_elefante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_stra_estado_elefante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" name="Eliminar"/> |
    </p>
        @Html.ActionLink("Regresar a la consulta", "Index")

}
