@model IEnumerable<ElefantesBlancosDatos.Models.stra_estados_elefante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $.ajaxSetup({ cache: false });
    //Editar
    $(".editDialog").live("click", function (e) {
        e.preventDefault();
        $.getJSON('@Url.Action("ValidarSession", "Home")', {}, function (data) {
            if (data == '0') {
                window.location.href = '/Account/Login'
            }

        });
        var url = $(this).attr('href');
        $("#dialog-edit").dialog({
            title: 'Editar Estado',
            autoOpen: false,
            resizable: false,
            height: 355,
            width: 548,
            top: 20,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog('close');
            }
        });
        $("#dialog-edit").dialog('open');
        return false;
    });
</script>
<div class="body_admin">
    <div class="contenido_body_admin">
        <div class="contenedor_general">
            <div class="contenedor2">
                <div class="titulo_contenedor">Administración de Parámetros</div>
                <div class="contenido">
                    <p>Seleccione el parámetro que desea modificar</p>
                    <hr />
                    <div id="boton3">@Html.ActionLink("Porque es un Reporte", "Index", "MotivoElefante")</div>
                    <div id="boton3">@Html.ActionLink("Rango de tiempo", "Index", "RangoTiempo")</div>
                    <div id="boton3">@Html.ActionLink("Razones de rechazo", "Index", "RazonRechazo")</div>
                    <div id="boton3">@Html.ActionLink("Estado", "Index", "EstadoElefante")</div>
                </div>
            </div>

            <div class="contenedor1">
                <div class="titulo_contenedor">Listado de Parámetros</div>
                <div class="contenido">
                    <h2>Estados</h2>
                    <p>Esta página permite que el Administrador modifique algunos de los parámetros en la aplicación Yo cuido lo público.</p>
                    <hr />
                    <h3>Edicion de lista</h3>
                        <table width="100%" aling="center">
                            <tr class="odd">
                                <th align="center" valign="middle">
                                    <h5>Código</h5>
                                </th>
                                <th align="center" valign="middle">
                                    <h5>Nombre</h5>
                                </th>
                                <th  align="center" valign="middle">
                                    <h5>Edición</h5>
                                </th>
                              
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr class="even">
                                    <td align="center" valign="middle">
                                       @Html.DisplayFor(modelItem => item.id_stra_estado_elefante)
                                    </td>
                                    <td align="left" valign="middle">
                                       @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td align="center" valign="middle">
                                          @Html.ActionLink("Editar",  "EditPartialView", new { id = item.id_stra_estado_elefante }, new { @class = "editDialog" })    
                                    </td>
                                    
                                </tr>
                            }
                        </table>
                             <div id="dialog-edit" style="display: none"> </div>
                </div>
            </div>

        </div>
    </div>
</div>


